In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('./athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
data.drop(columns=['ID','Games'],inplace=True)

In [5]:
data.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
data.Medal.unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [7]:
data['Gold']=[1 if medal=='Gold' else 0 for medal in data['Medal']]
data['Silver']=[1 if medal=='Silver' else 0 for medal in data['Medal']]
data['Bronze']=[1 if medal=='Bronze' else 0 for medal in data['Medal']]
data.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal,Gold,Silver,Bronze
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,0,0,0
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,0,0,0
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,0,0,0
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1,0,0
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,0,0,0

In [8]:
c_medals=data.groupby(['Team'])['Gold','Silver','Bronze'].sum()
c_medals

                       Gold  Silver  Bronze
Team
30. Februar               0       0       0
A North American Team     0       0       4
Acipactli                 0       0       0
Acturus                   0       0       0
Afghanistan               0       0       2
...                     ...     ...     ...
Zambia                    0       1       1
Zefyros                   0       0       0
Zimbabwe                 17       4       1
Zut                       0       3       0
rn-2                      0       0       0

[1184 rows x 3 columns]

In [9]:
c_medals['Total']=c_medals['Gold']+c_medals['Silver']+c_medals['Bronze']
c_medals

                       Gold  Silver  Bronze  Total
Team
30. Februar               0       0       0      0
A North American Team     0       0       4      4
Acipactli                 0       0       0      0
Acturus                   0       0       0      0
Afghanistan               0       0       2      2
...                     ...     ...     ...    ...
Zambia                    0       1       1      2
Zefyros                   0       0       0      0
Zimbabwe                 17       4       1     22
Zut                       0       3       0      3
rn-2                      0       0       0      0

[1184 rows x 4 columns]

In [10]:
c_medals.sort_values(by='Total',ascending=False)

               Gold  Silver  Bronze  Total
Team
United States  2474    1512    1233   5219
Soviet Union   1058     716     677   2451
Germany         679     627     678   1984
Great Britain   519     582     572   1673
France          455     518     577   1550
...             ...     ...     ...    ...
Ireland-1         0       0       0      0
Israel-1          0       0       0      0
Israel-2          0       0       0      0
Italy-3           0       0       0      0
rn-2              0       0       0      0

[1184 rows x 4 columns]

In [11]:
c_medals.nlargest(1,'Total')

               Gold  Silver  Bronze  Total
Team
United States  2474    1512    1233   5219

In [12]:
no_medal=c_medals[c_medals['Gold']==0]
no_medal

                       Gold  Silver  Bronze  Total
Team
30. Februar               0       0       0      0
A North American Team     0       0       4      4
Acipactli                 0       0       0      0
Acturus                   0       0       0      0
Afghanistan               0       0       2      2
...                     ...     ...     ...    ...
Yugoslavia-2              0       0       0      0
Zambia                    0       1       1      2
Zefyros                   0       0       0      0
Zut                       0       3       0      3
rn-2                      0       0       0      0

[942 rows x 4 columns]

In [13]:
list_nm=list(no_medal.index)
no_m=len(list_nm)
no_m

942

In [14]:
Gold_sum = data.groupby(['Sex'])['Gold', 'Silver'].sum()

In [15]:
Gold_sum

     Gold  Silver
Sex
F    3747    3735
M    9625    9381

In [16]:
data

,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal,Gold,Silver,Bronze
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,0,0,0
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,0,0,0
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,0,0,0
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1,0,0
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,0,0,0
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,0,0,0
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,0,0,0
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,0,0,0
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,0,0,0

In [17]:
pivot = data.pivot_table(values='Age', index='Season', columns='NOC', aggfunc='mean')

In [18]:
pivot

NOC,AFG,AHO,ALB,ALG,AND,ANG,ANT,ANZ,ARG,ARM,ARU,ASA,AUS,AUT,AZE,BAH,BAN,BAR,BDI,BEL,BEN,BER,BHU,BIH,BIZ,BLR,BOH,BOL,BOT,BRA,BRN,BRU,BUL,BUR,CAF,CAM,CAN,CAY,CGO,CHA,CHI,CHN,CIV,CMR,COD,COK,COL,COM,CPV,CRC,CRO,CUB,CYP,CZE,DEN,DJI,DMA,DOM,ECU,EGY,ERI,ESA,ESP,EST,ETH,EUN,FIJ,FIN,FRA,FRG,FSM,GAB,GAM,GBR,GBS,GDR,GEO,GEQ,GER,GHA,GRE,GRN,GUA,GUI,GUM,GUY,HAI,HKG,HON,HUN,INA,IND,IOA,IRI,IRL,IRQ,ISL,ISR,ISV,ITA,IVB,JAM,JOR,JPN,KAZ,KEN,KGZ,KIR,KOR,KOS,KSA,KUW,LAO,LAT,LBA,LBR,LCA,LES,LIB,LIE,LTU,LUX,MAD,MAL,MAR,MAS,MAW,MDA,MDV,MEX,MGL,MHL,MKD,MLI,MLT,MNE,MON,MOZ,MRI,MTN,MYA,NAM,NBO,NCA,NED,NEP,NFL,NGR,NIG,NOR,NRU,NZL,OMA,PAK,PAN,PAR,PER,PHI,PLE,PLW,PNG,POL,POR,PRK,PUR,QAT,RHO,ROT,ROU,RSA,RUS,RWA,SAA,SAM,SCG,SEN,SEY,SGP,SKN,SLE,SLO,SMR,SOL,SOM,SRB,SRI,SSD,STP,SUD,SUI,SUR,SVK,SWE,SWZ,SYR,TAN,TCH,TGA,THA,TJK,TKM,TLS,TOG,TPE,TTO,TUN,TUR,TUV,UAE,UAR,UGA,UKR,URS,URU,USA,UZB,VAN,VEN,VIE,VIN,VNM,WIF,YAR,YEM,YMD,YUG,ZAM,ZIM
Season,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Summer,23.538462,26.246575,25.888889,24.455910,27.320755,24.910112,23.227273,24.246914,26.370908,24.948276,24.857143,26.742857,24.970925,27.983214,25.407547,26.360963,22.636364,23.695853,24.435897,27.080731,25.241379,26.424242,25.972222,28.123288,25.986667,25.392456,25.261261,26.208333,24.865169,25.589957,23.837838,22.3,24.114680,24.365854,24.242424,23.355932,25.215613,24.551282,24.413793,23.225,26.830838,23.057469,24.242938,24.29097,23.989247,22.85,24.97076,22.210526,25.833333,25.042194,25.752475,24.391163,25.146067,26.030398,27.324058,24.5,24.444444,24.423664,25.011029,24.761836,24.674419,23.161905,25.392754,25.951220,24.298883,24.366306,24.50885,27.020804,27.176034,24.44957,23.846154,24.269841,23.269231,27.136766,25.809524,23.107414,25.817814,22.925,27.049477,23.524079,25.610287,22.84,24.029484,23.408163,23.963303,23.597826,25.011236,24.557377,22.125749,25.482217,24.268844,25.580567,25.0,25.458702,27.495319,24.310127,24.119718,24.132701,26.805085,25.908813,26.0,24.259259,24.43038,24.459525,25.841155,25.637483,24.179245,21.636364,23.480252,23.875,24.50237,22.625498,21.574074,27.301402,23.5,22.833333,23.928571,24.909091,24.863415,25.663043,25.726755,26.373291,23.801724,23.090909,25.726547,23.549242,24.172414,25.439791,20.918367,24.487347,24.776053,20.285714,22.032258,23.715909,25.151786,27.52809,30.923077,23.19403,23.333333,24.892857,25.825243,27.857143,22.5,23.628099,26.865284,24.6875,21.0,23.960091,21.892857,27.651270,23.461538,25.798319,25.189655,25.19883,24.102941,24.044776,24.550813,24.8368,24.0,22.68,23.95283,25.922426,27.100690,22.494118,24.414221,23.451429,25.5,23.916667,24.108093,25.59303,25.505986,24.269231,25.064516,25.746032,25.430000,25.768156,22.648649,23.320475,24.97619,22.441441,25.804734,26.625000,23.961538,22.0,26.722222,25.778571,24.0,22.2,23.898305,27.383112,21.671642,26.076621,27.124856,24.15625,24.701299,24.90604,25.601143,24.288889,24.987252,26.183333,23.87037,25.5,23.611111,23.390641,24.554645,24.432143,25.158465,20.142857,23.623853,25.696429,23.793651,24.935826,24.852499,25.208103,26.311797,24.446121,24.057143,24.636964,24.162338,21.547619,26.64,26.2,22.181818,21.09375,23.6,25.119605,23.461039,25.234528
Winter,NaN,31.600000,20.428571,20.583333,21.120690,NaN,NaN,NaN,22.559055,23.340426,NaN,35.500000,24.563303,25.646654,25.722222,NaN,NaN,NaN,NaN,26.353211,NaN,28.142857,NaN,22.852459,NaN,26.571165,NaN,25.000000,NaN,26.546875,NaN,NaN,24.570458,NaN,NaN,NaN,24.807760,24.666667,NaN,NaN,22.034682,22.704156,NaN,29.00000,NaN,NaN,26.00000,NaN,NaN,31.291667,22.804734,NaN,20.574468,25.907609,28.196429,NaN,47.000000,NaN,NaN,18.000000,NaN,NaN,23.541872,25.134118,33.000000,23.789720,25.00000,25.761655,25.114544,24.40819,NaN,NaN,NaN,25.301360,NaN,23.201479,21.871795,NaN,26.057754,35.000000,24.212766,NaN,24.200000,NaN,38.000000,NaN,NaN,21.500000,31.000000,23.796610,NaN,23.782609,32.0,26.191489,26.883721,NaN,23.024876,25.333333,29.618182,25.776023,29.0,28.709677,NaN,24.526892,24.809365,30.000000,26.133333,NaN,21.299738,NaN,NaN,NaN,NaN,26.104839,NaN,NaN,NaN,NaN,23.045455,22.485507,24.603448,29.230769,19.000000,NaN,23.526316,NaN,NaN,26.000000,NaN,26.298507,24.649485,NaN,23.045455,NaN,22.000000,19.00000,28.180328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.865185,35.6000,NaN,NaN,NaN,25.856478,NaN,24.270000,NaN,20.50000,NaN,21.000000,23.400000,21.0000,NaN,NaN,NaN,24.821908,22.809524,19.952000,31.216216,NaN,NaN,NaN,24.454681,23.52000,25.465385,NaN,NaN,NaN,25.142857,27.333333,NaN,NaN,NaN,NaN,24.887417,22.513514,NaN,NaN,22.937500,NaN,NaN,NaN,NaN,25.630711,NaN,26.075092,26.017676,24.00000,NaN,NaN,24.540806,26.000000,35.000000,28.800000,NaN,19.0,18.333333,23.670103,31.857143,NaN,22.419540,NaN,NaN,NaN,NaN,25.456897,24.954416,18.000000,25.032726,23.677419,NaN,37.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.391714,NaN,20.000000

In [19]:
cross_tab = pd.crosstab(data.Sex, data.NOC)
cross_tab

NOC,AFG,AHO,ALB,ALG,AND,ANG,ANT,ANZ,ARG,ARM,ARU,ASA,AUS,AUT,AZE,BAH,BAN,BAR,BDI,BEL,BEN,BER,BHU,BIH,BIZ,BLR,BOH,BOL,BOT,BRA,BRN,BRU,BUL,BUR,CAF,CAM,CAN,CAY,CGO,CHA,CHI,CHN,CIV,CMR,COD,COK,COL,COM,CPV,CRC,CRO,CRT,CUB,CYP,CZE,DEN,DJI,DMA,DOM,ECU,EGY,ERI,ESA,ESP,EST,ETH,EUN,FIJ,FIN,FRA,FRG,FSM,GAB,GAM,GBR,GBS,GDR,GEO,GEQ,GER,GHA,GRE,GRN,GUA,GUI,GUM,GUY,HAI,HKG,HON,HUN,INA,IND,IOA,IRI,IRL,IRQ,ISL,ISR,ISV,ITA,IVB,JAM,JOR,JPN,KAZ,KEN,KGZ,KIR,KOR,KOS,KSA,KUW,LAO,LAT,LBA,LBR,LCA,LES,LIB,LIE,LTU,LUX,MAD,MAL,MAR,MAS,MAW,MDA,MDV,MEX,MGL,MHL,MKD,MLI,MLT,MNE,MON,MOZ,MRI,MTN,MYA,NAM,NBO,NCA,NED,NEP,NFL,NGR,NIG,NOR,NRU,NZL,OMA,PAK,PAN,PAR,PER,PHI,PLE,PLW,PNG,POL,POR,PRK,PUR,QAT,RHO,ROT,ROU,RSA,RUS,RWA,SAA,SAM,SCG,SEN,SEY,SGP,SKN,SLE,SLO,SMR,SOL,SOM,SRB,SRI,SSD,STP,SUD,SUI,SUR,SVK,SWE,SWZ,SYR,TAN,TCH,TGA,THA,TJK,TKM,TLS,TOG,TPE,TTO,TUN,TUR,TUV,UAE,UAR,UGA,UKR,UNK,URS,URU,USA,UZB,VAN,VEN,VIE,VIN,VNM,WIF,YAR,YEM,YMD,YUG,ZAM,ZIM
Sex,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
F,5,12,27,94,42,129,37,2,643,38,16,7,2749,1100,71,100,13,39,14,604,14,41,17,39,9,794,2,36,7,1148,31,2,1069,15,16,17,3563,12,35,10,118,2770,58,94,25,16,295,8,9,65,236,0,588,58,696,710,5,7,72,64,181,6,66,1439,221,92,326,67,992,2781,912,11,15,13,3277,8,931,72,11,2999,58,655,17,75,15,27,21,19,222,39,1748,136,241,29,49,283,7,129,207,57,2543,5,366,23,2779,549,159,54,3,1490,5,5,4,12,197,11,13,13,15,41,75,209,73,48,1,92,101,14,64,12,649,149,7,33,29,31,36,18,23,51,5,24,28,0,22,1924,24,0,309,10,1130,2,784,4,11,39,23,162,104,8,13,26,1751,280,396,167,7,1,5,1619,434,2189,20,7,12,58,77,23,129,17,27,414,17,9,5,139,44,1,6,10,1205,22,361,1985,8,17,21,905,10,214,16,22,5,11,408,80,95,251,2,7,0,42,1180,0,1590,62,5533,151,12,221,74,11,2,0,0,4,0,378,19,113
M,121,67,43,457,127,138,96,84,2654,183,26,30,4889,4041,212,274,42,180,25,3253,57,171,19,95,67,993,151,116,83,2700,95,8,2461,29,51,46,6170,71,70,31,807,2371,135,218,68,24,774,11,9,199,640,11,1891,167,1178,2860,33,12,205,213,1441,37,152,3874,655,286,538,165,4475,9977,2403,15,48,43,8979,13,1714,214,29,6831,301,2526,37,350,58,85,81,87,463,150,4859,276,1167,65,740,1042,225,498,458,237,8172,40,482,57,5665,880,613,173,8,2974,3,225,280,42,754,73,61,15,51,288,294,445,923,71,44,590,429,73,170,37,2231,401,7,51,63,87,58,179,55,93,24,87,49,2,107,3915,70,1,573,37,3830,11,1558,62,551,100,112,370,590,13,12,82,4456,1242,411,760,185,11,7,2786,1277,2954,36,86,51,263,316,88,220,25,87,697,164,18,27,253,102,2,9,97,4945,47,694,6354,59,139,140,3499,36,533,54,32,4,48,689,295,466,1105,5,137,123,218,1379,2,4095,514,13320,344,23,704,80,31,60,20,11,28,5,2205,164,198